<div>
  <img src="../../assets/ants_team.jpg" />
</div>
<div class="guides-container">
  <app-raft-guide-detail
    fullName="Andrew Boris"
    pictureSrc="../../assets/male_1.jpg"
    profile="Andrew has been with the company for 3 years. He is certified rafter with
Level IV guide."
  ></app-raft-guide-detail>

  <app-raft-guide-detail
    fullName="Leonado Maboris"
    pictureSrc="../../assets/male_2.jpg"
    profile="Leo grew up in the Colorado River for his entire life.  He has been rafting for 20 years.  He is currently a certified Level III guide."
  ></app-raft-guide-detail>
</div>
