<div class="menu-area">
  <ul class="menu-list">
    <menu-item
      label="Dashboard"
      icon_name="fa-tachometer"
      [routerLink]="'/dashboard'"
    >
    </menu-item>
    <menu-item
      label="Locations"
      icon_name="fa-location-arrow"
      [routerLink]="'/locations'"
    >
    </menu-item>
    <menu-item
      label="Special Offers"
      icon_name="fa-money"
      [routerLink]="'/special-offers'"
    >
    </menu-item>
    <menu-item
      label="Raft Guides"
      icon_name="fa-user"
      [routerLink]="'/raft-guides'"
    >
    </menu-item>
  </ul>
</div>
