<div class="dashboard-container">
  <div class="carousel-container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/gallery_10.jpg" alt="gallery 1" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/gallery_11.jpg" alt="gallery 2" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../assets/gallery_12.jpg" alt="gallery 3" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="introduction-section">
    <p>
      Our goal is to exceed your expectations in all facets of your rafting
      adventure. Our friendly, skilled, and sincere service is second to none
      and we welcome the opportunity to have you experience the beauty and
      excitement of whitewater on the Nantahala River with us. We have been
      family owned & operated for over 38 years! Our specialty is giving
      economical prices with the very best in personal service, equipment,
      facilities, and staff. No experience necessary. Guided & unguided trips
      available mid-March through early October. Walk-ins are welcome ~
      reservations recommended. Call us or book online to reserve your
      adventure. We look forward to seeing you on the river with us. The most
      important trip down the river is yours! Come & Enjoy the Fun!
    </p>
  </div>
</div>
