@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/font-awesome/css/font-awesome.min.css";

body {
  font-family: "Indie Flower", cursive;
}

.content {
  max-width: 1022px;
  margin: auto;
  background-color: lightgray;
}
